.left:before,
		.left:after {
			position     : absolute;
			content      : '';
			border-top   : 10px transparent dashed;
			border-left  : 10px transparent dashed;
			border-bottom: 10px transparent dashed;
			border-right : 10px #fff solid;
		}

		.left:before {
			border-right: 10px #0099CC solid;
		}

		.left:after {
			left: 1px;
			/*覆盖并错开1px*/
			border-right: 10px #fff solid;
		}

		.top {
			position: absolute;
		}

		.top:before,
		.top:after {
			position     : absolute;
			content      : '';
			border-top   : 10px transparent dashed;
			border-left  : 10px transparent dashed;
			border-right : 10px transparent dashed;
			border-bottom: 10px #fff solid;
		}

		.top:before {
			border-bottom: 10px #0099CC solid;
		}

		.top:after {
			top: 1px;
			/*覆盖并错开1px*/
			border-bottom: 10px #fff solid;
		}
